---
import Layout from '~/layouts/PageLayout.astro';
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Contactanos from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';
import ContactBanner from '~/components/contactBanner.astro';


import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Analytics from '~/components/common/Analytics.astro';

const metadata = {
  title: 'Fernández, Centella & Asociados(FERCEN)',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
 <!-- tabler:download on icon in contactanos --> 
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Contactanos',
        href: '/contact',
        target: '_blank',
        icon: '',
       
      },
      { text: 'Sobre nosotros', href: '/nosotros' },
    ]}
    image={{ src: '~/assets/images/areasdepractica.jpg', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Asesoria legal <span class="hidden xl:inline"></span>
      <span class="text-accent dark:text-white highlight  text-blue-950">especializada</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">En Fernández, Centella & Asociados(FERCEN),</span> nuestro compromiso es más que una firma, es una promesa de excelencia legal. Confía en nosotros para guiar cada paso de tu camino legal con integridad, experiencia y dedicación inquebrantable."</span
      >
      
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="Conoce nuestras áreas de práctica"
    subtitle="Nuestro equipo de abogados especializados en diversas áreas del derecho, se encargará de brindarte la mejor asesoría legal para tu caso."
    items={[
     
{
  title: 'Derecho Mercantil',
  description: 'Asesoramiento y representación en asuntos relacionados con las actividades comerciales, incluyendo contratos, transacciones y conflictos mercantiles.',
  icon: 'tabler:briefcase',
},
{
  title: 'Sociedades',
  description: 'Gestión y asesoramiento en la constitución, reorganización y disolución de sociedades, asegurando el cumplimiento normativo y la optimización fiscal.',
  icon: 'tabler:building-skyscraper',
},
{
  title: 'Derecho Laboral',
  description: 'Asesoramiento en relaciones laborales, derechos y obligaciones de empleados y empleadores, y representación en conflictos laborales.',
  icon: 'tabler:user-circle',
},
{
  title: 'Derecho Comercial',
  description: 'Asistencia en transacciones comerciales, contratos y cumplimiento normativo para facilitar el desarrollo empresarial y la actividad comercial.',
  icon: 'tabler:shopping-cart',
},
{
  title: 'Litigio Civil',
  description: 'Representación en litigios civiles, resolución de conflictos y defensa de derechos en procesos judiciales y extrajudiciales.',
  icon: 'tabler:gavel',
},
{
  title: 'Derecho Administrativo',
  description: 'Asesoramiento en la interacción con entidades gubernamentales, cumplimiento de regulaciones y resolución de disputas administrativas.',
  icon: 'tabler:building',
},
{
  title: 'Derecho Penal',
  description: 'Defensa en procesos penales, asesoramiento en materia de delitos y representación en juicios para garantizar el debido proceso y protección de derechos.',
  icon: 'tabler:shield-lock',
},
{
  title: 'Derecho de Familia',
  description: 'Asesoramiento y representación en asuntos familiares, como divorcios, custodias, adopciones y herencias, garantizando el bienestar de las partes involucradas.',
  icon: 'tabler:home-heart',
},
]}/>

  <!-- Content Widget ****************

  <Content
    isReversed
    tagline="clientes satisfechos"
    title="Casos de <span class='text-accent dark:text-white'>éxito</span>"
    items={[
      {
        title: 'testimonio de cliente #1',
        description:
          'Fernandez CentelLa & Asociados ha sido un aliado estratégico en el crecimiento de nuestro negocio. Su asesoría legal especializada y su compromiso con la excelencia han sido fundamentales para nuestro éxito.',
      },
      {
        title: 'testimonio de cliente #2',
        description:
          'La asesoría legal de Fernandez Centela & Asociados ha sido un pilar fundamental en la protección de nuestros derechos y la resolución de conflictos legales. Su enfoque proactivo y su dedicación han marcado la diferencia en nuestro caso.',
      },
      {
        title: 'testimonio de cliente #3',
        description:
          'Fernandez Centela & Asociados ha demostrado un compromiso excepcional con la excelencia y la integridad en cada caso que han manejado para nosotros. Su enfoque personalizado y su atención al detalle han sido invaluables para nuestro negocio.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Testimonios de clientes que han confiado en nosotros</h3>
      "Nuestro compromiso es más que una firma, es una promesa de excelencia legal. Confía en nosotros para guiar cada paso de tu camino legal con integridad, experiencia y dedicación inquebrantable."
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
 -->
  <!-- Content Widget **************** 

  <Content
    isAfterContent
    items={[
      {
        title: 'Empresa #1',
        description: `Fernandez Centella & Asociados ha sido un aliado estratégico en el crecimiento de nuestro negocio. Su asesoría legal especializada y su compromiso con la excelencia han sido fundamentales para nuestro éxito.`,
      },
      {
        title: 'Empresa #2',
        description:
          'La asesoría legal de Fernandez Centella & Asociados ha sido un pilar fundamental en la protección de nuestros derechos y la resolución de conflictos legales. Su enfoque proactivo y su dedicación han marcado la diferencia en nuestro caso.',
      },
      {
        title: 'Empresa #3',
        description:
          "La asesoría legal de Fernandez Centella & Asociados ha sido un pilar fundamental en la protección de nuestros derechos y la resolución de conflictos legales. Su enfoque proactivo y su dedicación han marcado la diferencia en nuestro caso.",
      },
      {
        title: 'Empresa #4',
        description:
          'Fernandez Centella & Asociados ha demostrado un compromiso excepcional con la excelencia y la integridad en cada caso que han manejado para nosotros. Su enfoque personalizado y su atención al detalle han sido invaluables para nuestro negocio.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Empresas que confian en nosotros</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
-->
  <!-- Content Widget **************** -->


  <!-- Steps Widget ****************** -->

  <!-- Features2 Widget ************** -->



  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
  title="Infórmate con nuestro blog"
  information={`Aquí encontrarás artículos y noticias relevantes sobre diversas áreas del derecho. 
                Nuestro blog está diseñado para mantenerte informado sobre los últimos desarrollos legales, 
                ofrecerte consejos útiles y compartir análisis profundos realizados por nuestros expertos. 
                Desde derecho corporativo y laboral hasta litigios civiles y penales, 
                te proporcionamos información valiosa para ayudarte a navegar el complejo mundo legal con confianza. 
                Gracias por visitarnos.
               `}
/>

<HeroText title="Contactanos" />

<ContactBanner/>

<Contactanos
  id="form"
  title="Contactanos hoy y te responderemos enseguida!"
  subtitle="Te brindaremos asesoria especializada"
  inputs={[
    {
      type: 'text',
      name: 'name',
      label: 'Nombre',
    },
    {
      type: 'email',
      name: 'email',
      label: 'Correo electronico',
    },
  ]}
  textarea={{
    label: 'Escribe tu mensaje',
  }}
  disclaimer={{
    label:
      'Aseguro que los datos ingresados son correctos y he suministrado la información proporcionada en este formulario',
  }}
  description="Envianos un mensaje y te contactaremos en breve"
/>


  <!-- FAQs Widget ******************* -->

  

  <!-- Stats Widget ****************** -->


  <!-- CallToAction Widget *********** -->

 
</Layout>
