---
import Layout from '~/layouts/PageLayout.astro';
import Cards from '~/components/ui/cards.astro'; // Assuming this is a single card component
import { getImage } from 'astro:assets';
import Mision from '~/components/ui/mision.astro'
---

<Layout>

  <Cards/>
  <div></div>
  <Mision/>
  
  

  
</Layout>
