---
import Image from "astro/components/Image.astro"
---

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


<section class="text-center flex flex-col sm:flex-row justify-center items-center space-y-6 sm:space-y-0 sm:space-x-6">

    <div class="contact-box bg-white rounded-lg shadow-lg p-6 m-4 w-64 h-72 text-center transition transform hover:-translate-y-2 hover:shadow-2xl">
        <h1 class="text-black text-xl mb-4">Address</h1>
        <i class="fas fa-map-marker-alt fa-3x text-blue-950 mb-4 transition-colors hover:text-blue-700"></i>
        <p class="text-gray-600">
            Bella Vista, Calle 47 Este<br>
            Ciudad de Panama, Panama
        </p>
    </div>

    <div class="contact-box bg-white rounded-lg shadow-lg p-6 m-4 w-64 h-72 text-center transition transform hover:-translate-y-2 hover:shadow-2xl">
        <h1 class="text-black text-xl mb-4">Telefono</h1>
        <i class="fas fa-phone fa-3x text-blue-950 mb-4 transition-colors hover:text-blue-700"></i>
        <p class="text-gray-600">374-5019</p>
    </div>

    <div class="contact-box bg-white rounded-lg shadow-lg p-6 m-4 w-64 h-72 text-center transition transform hover:-translate-y-2 hover:shadow-2xl">
        <h1 class="text-black text-xl mb-4">Correo</h1>
        <i class="fas fa-envelope fa-3x text-blue-950 mb-4 transition-colors hover:text-blue-700"></i>
        <p class="text-gray-600">asistente@fercenabogados.com</p>
    </div>

</section>
