---
// Import the images
import Image from 'astro/components/Image.astro';
import imgLight from 'src/assets/images/fercenalogo.png';
import imgDark from 'src/assets/images/Screen.png';
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap absolute">
  <Image class="h-25 w-60 dark:hidden" src={imgLight} alt="Light mode logo" />
  <Image class="h-25 w-60 hidden dark:block" src={imgDark} alt="Dark mode logo" />
</span>
