<!-- Componente de Misión, Visión y Valores -->
<section class="bg-gray-100 p-8 my-8 rounded-lg shadow-md">
    <div class="max-w-4xl mx-auto">
        <h2 class="text-2xl font-bold text-blue-900 mb-4 border-b-2 border-blue-900 pb-2">Misión</h2>
        <p class="text-lg text-gray-700 mb-4">
            En Fernández, Centella & Asociados (FERCEN), nuestra misión es proporcionar servicios legales de alta calidad, basados en la excelencia, la ética y la dedicación. Nos comprometemos a trabajar incansablemente para proteger los derechos e intereses de nuestros clientes, ofreciendo soluciones legales innovadoras y efectivas que responden a sus necesidades y expectativas.
        </p>
        <p class="text-lg text-gray-700 mb-4">
            Nos dedicamos a:
        </p>
        <ul class="list-disc list-inside mb-4 space-y-2">
            <li class="text-lg text-gray-700">Defender y representar a nuestros clientes con integridad, profesionalismo y pasión, buscando siempre el mejor resultado posible.</li>
            <li class="text-lg text-gray-700">Brindar asesoramiento jurídico personalizado y adaptado a las circunstancias específicas de cada caso, asegurando un enfoque cercano y accesible.</li>
            <li class="text-lg text-gray-700">Fomentar la continua formación y especialización de nuestro equipo, manteniéndonos actualizados con las últimas tendencias y cambios en el ámbito legal para ofrecer un servicio de vanguardia.</li>
            <li class="text-lg text-gray-700">Promover un ambiente de colaboración y respeto dentro de nuestra firma y con nuestros clientes, creando relaciones de confianza y cooperación a largo plazo.</li>
            <li class="text-lg text-gray-700">Contribuir al desarrollo de una sociedad más justa y equitativa, mediante nuestra participación activa en iniciativas sociales y comunitarias.</li>
        </ul>
        <p class="text-lg text-gray-700 mb-4">
            En Fernández, Centella & Asociados (FERCEN), creemos en la importancia de trabajar con dedicación y entusiasmo para buscar soluciones legales que hagan una diferencia positiva en la vida de nuestros clientes y en la comunidad. Nos esforzamos por ser un referente en la práctica del derecho, ofreciendo un servicio excepcional que combina experiencia, innovación y compromiso con la justicia.
        </p>

        <h2 class="text-2xl font-bold text-blue-900 mb-4 border-b-2 border-blue-900 pb-2">Visión</h2>
        <p class="text-lg text-gray-700 mb-4">
            En Fernández, Centella & Asociados (FERCEN), nos esforzamos por ser una firma de abogados reconocida por nuestra dedicación incansable y nuestro compromiso inquebrantable con la excelencia. Nuestra visión es proporcionar soluciones legales innovadoras y efectivas que superen las expectativas de nuestros clientes, guiados por los más altos estándares de integridad y profesionalismo.
        </p>
        <p class="text-lg text-gray-700 mb-4">
            Creemos en el poder transformador del derecho y en nuestra capacidad para influir positivamente en la vida de las personas y en la sociedad. Creemos en la justicia y la determinación firme para enfrentar cualquier desafío, buscamos resolver los problemas legales de nuestros clientes con eficiencia, creatividad y un enfoque personalizado.
        </p>
        <p class="text-lg text-gray-700 mb-4">
            En Fernández, Centella & Asociados (FERCEN), estamos comprometidos a:
        </p>
        <ul class="list-disc list-inside mb-4 space-y-2">
            <li class="text-lg text-gray-700">Trabajar con una energía y entusiasmo constantes para alcanzar los mejores resultados para nuestros clientes.</li>
            <li class="text-lg text-gray-700">Ofrecer un servicio legal de la más alta calidad, basado en la experiencia, el conocimiento y la dedicación.</li>
            <li class="text-lg text-gray-700">Innovar y adaptarnos continuamente a los cambios del entorno legal para ofrecer soluciones modernas y efectivas.</li>
            <li class="text-lg text-gray-700">Fomentar un ambiente de colaboración y respeto, tanto dentro de nuestro equipo como con nuestros clientes y la comunidad.</li>
        </ul>
        <p class="text-lg text-gray-700 mb-4">
            Nuestra meta es ser no solo sus abogados, sino también sus socios de confianza en la búsqueda de justicia y soluciones legales duraderas.
        </p>

        <h2 class="text-2xl font-bold text-blue-900 mb-4 border-b-2 border-blue-900 pb-2">Valores</h2>
        <p class="text-lg text-gray-700 mb-4">
            En Fernández, Centella & Asociados (FERCEN), nos guiamos por un conjunto de valores fundamentales que definen nuestra identidad y orientan todas nuestras acciones y decisiones. Estos valores son:
        </p>
        <ul class="list-disc list-inside mb-4 space-y-2">
            <li class="text-lg text-gray-700"><strong class="text-blue-900">Justicia:</strong> Creemos firmemente en la justicia como pilar fundamental de nuestra práctica legal. Nos esforzamos por defender los derechos de nuestros clientes y asegurar que se haga justicia en cada caso que manejamos.</li>
            <li class="text-lg text-gray-700"><strong class="text-blue-900">Excelencia:</strong> Nos comprometemos a alcanzar la excelencia en todos los aspectos de nuestro trabajo. Buscamos constantemente mejorar y perfeccionar nuestros conocimientos y habilidades para ofrecer el mejor servicio legal posible.</li>
            <li class="text-lg text-gray-700"><strong class="text-blue-900">Disciplina:</strong> La disciplina es esencial en nuestra metodología de trabajo. Mantenemos un enfoque riguroso y organizado en cada caso, asegurando la máxima eficiencia y precisión en nuestras labores.</li>
            <li class="text-lg text-gray-700"><strong class="text-blue-900">Integridad:</strong> Actuamos con honestidad y ética en todas nuestras interacciones. La transparencia y la responsabilidad son claves en nuestras relaciones con los clientes, colegas y la comunidad.</li>
            <li class="text-lg text-gray-700"><strong class="text-blue-900">Compromiso:</strong> Nos dedicamos plenamente a nuestros clientes y a cada caso que tomamos. Nos esforzamos por entender sus necesidades y proporcionar soluciones legales efectivas y personalizadas.</li>
            <li class="text-lg text-gray-700"><strong class="text-blue-900">Innovación:</strong> En un mundo legal en constante cambio, valoramos la innovación y la creatividad. Adoptamos nuevas tecnologías y enfoques para mejorar nuestros servicios y resultados.</li>
            <li class="text-lg text-gray-700"><strong class="text-blue-900">Empatía:</strong> Valoramos la empatía y el entendimiento profundo de las circunstancias de nuestros clientes. Nos esforzamos por ofrecer un servicio legal que no solo sea efectivo, sino también humano y comprensivo.</li>
            <li class="text-lg text-gray-700"><strong class="text-blue-900">Colaboración:</strong> Fomentamos un ambiente de trabajo colaborativo, tanto dentro de nuestra firma como en nuestra relación con los clientes. Creemos que el trabajo en equipo y la cooperación conducen a soluciones más completas y efectivas.</li>
            <li class="text-lg text-gray-700"><strong class="text-blue-900">Responsabilidad Social:</strong> Estamos comprometidos con el desarrollo de una sociedad más justa y equitativa. Participamos activamente en iniciativas comunitarias y sociales, utilizando nuestra experiencia legal para hacer una diferencia positiva.</li>
            <li class="text-lg text-gray-700"><strong class="text-blue-900">Confidencialidad:</strong> Respetamos y protegemos la confidencialidad de la información de nuestros clientes. La confianza es la base de nuestra relación con ellos y nos aseguramos de mantener la privacidad en todo momento.</li>
        </ul>
    </div>
</section>
